<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytn.cctvdisaster.project.dao.CaptionsDataDao">
	
	<select id="selectCaptionsInfoListCnt" parameterType="com.ytn.cctvdisaster.project.vo.PageingVo" resultType="Integer">
		SELECT COUNT(*) FROM YTNDI.CAPTION_DETAIL
	</select>

</mapper>

